<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div appheader></div>

<div class="container bs-docs-container">

    <div class="row">
        <div class="col-md-3">
            <div class="bs-sidebar hidden-print affix" role="complementary">
                <ul class="nav bs-sidenav">
                   
                    <li class="">
                        <a  href="#/osoby/nowa" >Nowa osoba</a>
                    </li>
                    <li class="active" >
                        <a href="#/osoby/lista">Lista osób</a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" role="main">
            <h1>Lista osób</h1>
            <div class="panel panel-default">
              
                <div class="panel-heading">
                    <input class="form-control" placeholder="szukaj" type="search" ng-model="q"/></div>
                <div class="panel-body ">
                    
                   Liczba znalezionych osób: {{znalezionych}}
                    
                    <ul class="list-group">
                    <li class="thumbnail animate-repeat"  ng-repeat="osoba in lista | filter:q | orderBy:'-data_utworzenia' track by $index ">
                       
                        <a class="bs-about" href="#/osoby/edytuj/{{osoba._id}}">{{$index+1}}. {{osoba.imiona}} {{osoba.nazwisko}}</a>
                        <div class="btn-group right pull-right">

                                <div class=" btn-danger btn-sm " ng-click="usun(osoba)">Usuń</div>
                        </div>
                        <p class='small'>{{osoba._id}}</p>
                        <p>Data modyfikacji {{osoba.data_modyfikacji}}</p>
                    </li>
                    </ul>
                    
                </div>
             
            </div>
          
        </div>
    </div>

</div>

