<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

        <div class="col-md-9" role="main">
            <h1>Edycja kontrolującego</h1>
            <div class="panel panel-default">

                <div class="panel-heading">Podaj dane kontrojującego. UUID {{kontrolujacy._id}} </div>
                <div  ng-include="kontrolujacy.szablon_edycji" class="animate-repeat panel-body"> </div>
                <div class="panel-body">
                    
                    <button class="btn" ng-show="!kontrolujacy.valid" disabled>Zapisz</button>
                    <button class="btn-success btn" ng-show="kontrolujacy.valid" ng-click="zapisz()">Zapisz</button>
                     <button class="btn-warning btn"  ng-click="zamknij()">Zamknij</button>
                </div>
            </div>

        </div>

    </div>

</div>

