<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div  class=" alert " ng-class="{'alert-success':nowyProtokul.$valid, 'alert-warning':!nowyProtokul.$valid}">

    <form name="nowyProtokul" novalidate >
       
            <input class="form-control" type="text" placeholder="Nazwa protokołu" ng-model="protokul.tytul" ng-minlength=5 required/>
          

            <label  >Nr pisma
                <input name="nr_dokumentu" class="form-control" type="text" placeholder="Nr pisma" ng-model="protokul.nr_dokumentu" required/>
            </label>


            <label >Data wystawienia protokołu
                <input name="data_wystawienia" class="form-control" type="date" placeholder="Data" ng-model="protokul.data_wystawienia" required/>
            </label>

            
            </form>

        </div>