<p>This is the partial for view 2.</p>

<tabset>
    <tab heading="Tytul">
        cxzcxczxc dfdsf
    </tab>
    <tab heading="Dwa" disabled="false">
        dfsfsdfsf dfdsfsdfsdfsdfsdf
    </tab>
</tabset>
   <div id="spis_tresci_more" >
            <ol class="menu">
                <li class="menu">
                    <a name="#title" class="menu" href="#title"  >Strona
                        tytułowa</a>
                </li>
                <li class="menu">
                    <a class="menu dynamic"  href="#chapterI"  >I.Przestrzeganie
                        przepisów o ochronie przeciwpożarowej</a>

                    <ol class="menu">
                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter1"  >1.
                                Dokumentacja z zakresu ochronu p.poż.</a>
                            <ol class="menu">
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table11"  >1.1.
                                        Instrukcja bezpieczeństwa.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table12"  >1.2.
                                        Znajomość instrukcji.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table13"  >1.3.
                                        Osoby odpowiedzialne.</a>
                                </li>
                            </ol>
                        </li>

                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter2"  >2.
                                Instrukcje postępowania:</a>
                        </li>
                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter3"  >3.
                                Wykonanie poleceń nakazanych decyzją komendanta:</a>
                        </li>
                    </ol>
                </li>

                <li class="menu">
                    <a class="menu dynamic"  href="#chapterII"  >II.Rozpoznanwanie
                        zagrożeń.</a>

                    <ol class="menu">
                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter4"  >4.
                                Wykonanie poleceń nakazanych decyzją komendanta:</a>
                            <ol class="menu">
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table41"  >4.1.Występowanie
                                        nieprawidłowości, które zagrażają życiu ludzi:</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic" href="#table42"  >4.2.
                                        Warunki ewakuacji ludzi z budynku.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table43"  >4.3.
                                        Oznakowanie dróg ewakuacyjnych.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table44"  >4.4.
                                        Oznakowanie znakami bezpieczeństwa.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table45"  >4.5.
                                        Sposób wykorzystania pomieszczeń technicznych.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table46"  >4.6.
                                        Sposób wykorzystania strychów.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table47"  >4.7.
                                        Sposób wykorzystania piwnic.</a>
                                </li>
                            </ol>
                        </li>
                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter5"  >5.
                                Spełnienie wymagań budowlanych w budynkach.</a>
                            <ol class="menu">
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table51"  >5.1.
                                        Odporność pożarowa budynków, odporność ogniowa elementów
                                        budowlanych.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table52"  >5.2.
                                        Strefy pożarowe i oddzielenia przeciwpożarowe.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table53"  >5.3.
                                        Składowanie, przechowywanie materiałów niebezpiecznych
                                        pożarowo.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table54"  >5.4.
                                        Składowanie, przechowywanie materiałów palnych.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table55"  >5.5.
                                        Przestrzeganie zakazu używania ognia i palenia tytoniu.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table56"  >5.6.
                                        Usytuowanie budynków i placów składowych.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table57"  >5.7.
                                        Strefy zagrożenia wybuchem.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table58"  >5.8.
                                        Przestrzeganie bezpieczeństwa pożarowego podczas wykonywania
                                        prac.</a>
                                </li>
                            </ol>
                        </li>

                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter6"  >6.
                                Zachowanie warunków bezpieczeństwa pożarowego w budynkach i
                                strefach (PM i IN).</a>
                            <ol class="menu">
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table61"  >6.1.
                                        Warunki ewakuacji.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table62"  >6.2.
                                        Spełnienie wymagań dot. rozdzielnego przechowywania materiałów.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table63"  >6.3.
                                        Nieprawidłowy sposób przechowywania materiałów niebezpiecznych
                                        pożarowo.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table64"  >6.4.
                                        Nieprawidłowy sposób użytkowania i zabezpieczenia
                                        przeciwpożarowego.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table65"  >6.5.
                                        Palne odpady.</a>
                                </li>

                            </ol>
                        </li>

                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter7"  >7.
                                Zachowanie warunków bezpieczeństwa pożarowego przy użytkowaniu
                                urządzeń i instalacji w obiektach.</a>
                            <ol class="menu">
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table71"  >7.1.
                                        Posługiwanie się przenośnymi odbiornikami energii elektrycznej.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  id="able72" href="#table72"  >7.2.
                                        Instalacje elektryczne.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table73"  >7.3.
                                        Instalacje odgromowe.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table74"  >7.4.
                                        Urządzenia i instalacje wentylacyjne.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table75"  >7.5.
                                        Urządzenia gazowe.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table76"  >7.6.
                                        Urządzenia ogrzewcze.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table77"  >7.7.
                                        Przewody dymowe i spalinowe.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table78"  >7.8.
                                        Urządzenia i aparaty technologiczne.</a>
                                </li>
                            </ol>
                        </li>

                    </ol>
                </li>

                <li class="menu">
                    <a class="menu dynamic"  href="#chapterIII"  >III.
                        Przygotowanie obiektu do zwalczania pożaru i miejscowych zagrożeń.</a>
                    <ol class="menu">
                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter8"  >8.
                                Poziom wyszkolenia stanu osobowego w zakresie ochrony
                                przeciwpożarowej.</a>
                            <ol class="menu">
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table81"  >8.1.
                                        Zapoznanie przez pracowników zakładu (obiektu) z przepisami ochrony przeciwpożarowymi:</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table82"  >8.2.
                                        Znajomość treści dokumentów z zakresu ochrony przeciwpożarowej.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table83"  >8.3.
                                        Praktyczne sprawdzenie organizacji oraz warunków ewakuacji.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table84"  >8.4.
                                        Sprawdzenie znajomości (użycia, lokalizacji)  urządzeń przeciwpożarowych i gaśnic.</a>
                                </li>
                            </ol>
                        </li>

                        <li class="menu">
                            <a class="menu dynamic"  href="#chapter9"  >9.
                                Urządzenia gaśniczne.</a>
                            <ol class="menu">
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table91"  >9.1.
                                        Urządzenia przeciwpożarowe i gaśnice.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table92"  >9.2.
                                        Stałe lub półstałe urządzenia gaśnicze.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table93"  >9.3.
                                        System sygnalizacji pożarowej.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table94"  >9.4.
                                        Dźwiękowy system ostrzegawczy.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table95"  >9.5.
                                        Hydranty wewnętrzne.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table96"  >9.6.
                                        Hydranty zewnętrzne.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table97"  >9.7.
                                        Pompownia przeciwpożarowa.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table98"  >9.8.
                                        Przeciwpożarowe klapy odcinające.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table99"  >9.9.
                                        Urządzenia oddymiające.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table910"  >9.10.
                                        Drzwi, bramy lub kurtyny przeciwpożarowe.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table911"  >9.11.
                                        Zbiorniki przeciwpożarowe.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table912"  >9.12.
                                        Instalacja oświetlenia awaryjnego.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table913"  >9.13.
                                        Przeciwpożarowy wyłącznik prądu.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table914"  >9.14.
                                        Urządzenia zabezpieczające przed powstaniem wybuchu.</a>
                                </li>
                                <li class="menu">
                                    <a class="menu dynamic"  href="#table915"  >9.15.
                                        Gaśnice.</a>
                                </li>

                            </ol>
                        </li>

                    </ol>
                </li>
            </ol>

        </div>

