<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div appheader></div>

<div class="container bs-docs-container">

    <div class="row">
        <div class="col-md-3">
            <div class="bs-sidebar hidden-print affix" role="complementary">
                <ul class="nav bs-sidenav">
                   
                    <li class="active">
                        <a  href="#/protokol/nowy" >Nowy protokłu</a>
                    </li>
                    <li class="">
                        <a href="#/protokoly">Lista protokołów</a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" role="main">
            <h1>Nowy protokuł</h1>
            <div class="panel panel-default">
              
                <div class="panel-heading">Podaj nazwę (tytuł) protokołu. UUID {{uuid}} </div>
                <form name="nowyProtokul" novalidate >
                    <div ng-class="{error: nowyProtokul.protokol.tytul.$dirty && nowyProtokul.protokol.tytul.$invalid}">
                        <input class="form-control" type="text" placeholder="Nazwa protokołu" ng-model="protokol.tytul" ng-minlength=5 required/>
                    </div>
                    <button class="btn-success" ng-show="nowyProtokul.$valid" ng-click="zapisz()">Zapisz</button>
                </form>
             
            </div>
          
        </div>
    </div>

</div>

