<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div appheader></div>



<div class="container bs-docs-container">

    <div class="row " >
        <div class="col-md-3">
            <div class="bs-sidebar hidden-print affix" role="complementary" >
                <ul class="nav bs-sidenav">

                    <li  ng-repeat="odnosnik in protokol.dane" ng-class="{active:odnosnik.aktywny}">
                        <a    ng-click="klick(odnosnik)"  >{{odnosnik.nazwa}}</a>
                    </li>

                </ul>
            </div >
        </div>
        <div class="col-md-9 " role="main"  >
            <h1 id="info">{{wybrany.nazwa}}</h1>
            <div class="panel panel-default">

                <div class="panel-heading ">
                    {{wybrany.komunikat}} <span class="badge">UUID:{{protokol._id}}</span>
                </div>





                <div ng-include="wybrany.szablon_edycji" class="animate-repeat panel-body">
                    
                </div>

            </div>
            <ul class="pager">
                <li class="previous" ng-class="{'hidden':(poprzedni===nul)}">
                    <a  href=""  ng-click="klick(poprzedni)"  >{{poprzedni.nazwa}}</a>
                </li>
                <li class=" next " ng-class="{'hidden':(nastepny===nul)}" >
                    <a  href=""  ng-click="klick(nastepny)"  >{{nastepny.nazwa}}</a>
                </li>

            </ul>

        </div>

    </div>

</div>

