<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="col-md-9" role="main" ng-controller="ProtokolDodawanieKontrolujacychCtrl" >
    <h1>Lista kontrolujących</h1>



    <tabset justified="true"  >
        <tab heading="Lista kontrolujących" ng-click="zmiana_zakladki(1)">
            <div class="" >
                <div class="panel-body" >
                    <br>
                    <ul class="list-group" >
                        <li class="thumbnail animate-repeat"  ng-repeat="kontrolujacy in lista_kontrolujacych_tmp| filter:q | orderBy:'-key.data_utworzenia' track by $index ">
                            {{$index + 1}}. {{kontrolujacy.stopien}} {{kontrolujacy.imiona}} {{kontrolujacy.nazwisko}}
                            <div class="btn-group right pull-right">

                                <div class=" btn-danger btn-sm " ng-click="usun_z_listy_kontrolujacych(kontrolujacy)">Usuń</div>
                            </div>

                            <div>{{kontrolujacy.stanowisko}} {{kontrolujacy.nazwa_jednostki_organizacyjnej}}</div>
                            <div>
                                <span class="small">nr upoważnienia: </span> {{kontrolujacy.upowaznienie_nr}}
                            </div>
                            <div>
                                <span class="small">wydane przez: </span>{{kontrolujacy.upowaznienie_wydanie_przez}}
                            </div>
                            <div>
                                <span class="small">data wydania: </span>{{kontrolujacy.upowaznienie_data}}
                            </div>
                            <p>
                                <em class="small">Data utworzenia: {{kontrolujacy.data_utworzenia}}</em>
                                <em class="small">{{kontrolujacy.type}}</em>
                                <em class='small'>{{kontrolujacy._id}}</em>
                            </p>

                        </li>
                    </ul>
                </div>
            </div>
        </tab>
        <tab heading="Wyszukiwanie" ng-click="zmiana_zakladki(2)">
            <div class="">


                <br>
                <div class="panel-heading">
                    <form novalidate >
                    <div class="input-group">
                    <input class="form-control" placeholder="szukaj"  ng-model="q"/>
                    <span class="input-group-btn">
                        <button class="btn btn-success " type="button" ng-click="openEdytujKontrolujacyModal('nowy')">Nowy</button>
                    </span>
                    </div>
                    </form>
                </div>
                <div class="panel-body " >

                    Liczba znalezionych  {{liczba_znalezionych}}

                    <ul class="list-group">
                        <li class="thumbnail animate-repeat"  ng-repeat="kontrolujacy in lista| filter:q | orderBy:'-key.data_utworzenia' track by $index ">


                            {{$index + 1}}. <a class="bs-about" ng-click="openEdytujKontrolujacyModal(kontrolujacy.key)"> {{kontrolujacy.key.stopien}} {{kontrolujacy.key.imiona}} {{kontrolujacy.key.nazwisko}}</a>
                            <div class="btn-group right pull-right">

                                <div class=" btn-info btn-sm " ng-click="dodaj_do_listy(kontrolujacy.key)">Dodaj</div>
                            </div>

                            <div>{{kontrolujacy.key.stanowisko}} {{kontrolujacy.key.nazwa_jednostki_organizacyjnej}}</div>
                            <div>
                                <span class="small">nr upoważnienia: </span> {{kontrolujacy.key.upowaznienie_nr}}
                            </div>
                            <div>
                                <span class="small">wydane przez: </span>{{kontrolujacy.key.upowaznienie_wydanie_przez}}
                            </div>
                            <div>
                                <span class="small">data wydania: </span>{{kontrolujacy.key.upowaznienie_data}}
                            </div>
                            <p>
                                <em class="small">Data utworzenia: {{kontrolujacy.key.data_utworzenia}}</em>
                                <em class="small">{{kontrolujacy.key.type}}</em>
                                <em class='small'>{{kontrolujacy.key._id}}</em>
                            </p>

                        </li>
                    </ul>

                </div>
            </div>
        </tab>
    </tabset>


</div>
